body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.area {
  display: flex;
  justify-content: space-evenly;
}
.tube {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  height: 100vh;
  background-color: rgb(81, 89, 92);
  font-size: 25px;
}
.cube {
  flex-basis: 10%;
  border: solid 1px rgb(235, 241, 226);
  color: rgb(136, 165, 42);
}
.dynamic-figure {
  background-color: white;
}
.static-figure {
  background-color: chartreuse;
}
.btnArea {
  align-self: center;
}
.btnStop,
.btnSpin {
  display: inline-block;
  background-color: brown;
  font-size: 60px;
  cursor: pointer;
}
