body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.area {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  /* width: 50%; */
}
.tube {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  height: 100vh;
  background-color: rgb(124, 171, 224);
  /* font-size: 25px; */
}
.lastMassage {
  position: absolute;
  text-align: center;
  /* line-height: 100%; */
  font-size: 70px;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 40%;
  background-color: blue;
  opacity: 0;
  color: aliceblue;
}
.turnOnMassage {
  opacity: 1;
}
.cube {
  flex-basis: 10%;
  border: solid 1px rgb(235, 241, 226);
  color: rgb(136, 165, 42);
}
.dynamic-figure {
  background-color: rgb(187, 221, 75);
}
.static-figure {
  background-color: rgb(9, 144, 72);
  position: relative;
}
.static-figure::after {
  position: absolute;
  content: "";
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background-color: brown;
}
.manageBlock {
  align-self: center;
}
.btnStop,
.btnStart,
.btnContinue {
  display: block;
  width: 100%;
  background-color: brown;
  font-size: 40px;
  cursor: pointer;
}
.bingo-line {
  background-color: brown;
}
.score {
  text-align: center;
  font-size: 35px;
  color: olive;
  border: solid 2px brown;
}
.finScore {
  font-size: 35px;
}
