body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.area {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1420px;
}
.control {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-self: center;
  flex-basis: 20%;
  font-size: 25px;
}
.controlButtons {
  list-style: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
}
.controlButtons-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.tube {
  display: flex;
  flex-basis: 35%;
  flex-wrap: wrap;
  height: 100vh;
  background-color: rgb(124, 171, 224);
}
.lastMassage {
  position: absolute;
  text-align: center;
  font-size: 70px;
  top: 30%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: blue;
  color: aliceblue;
  opacity: 0;
}
.showLastMassage {
  opacity: 1;
}
.cube {
  flex-basis: 10%;
  border: solid 1px white;
  color: rgb(90, 85, 85);
  font-size: 30px;
}
.dynamic-figure {
  background-color: rgb(187, 221, 75);
}
.static-figure {
  background-color: rgb(9, 144, 72);
  position: relative;
}
.static-figure::after {
  position: absolute;
  content: "";
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: brown;
}
.manageBlock {
  align-self: center;
  flex-basis: 20%;
}
.score {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 35px;
  color: olive;
  border: solid 3px rgb(71, 165, 42);
}
.btnArea {
  margin-top: 20px;
}
.btnStop,
.btnStart,
.btnContinue {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: brown;
  font-size: 40px;
  cursor: pointer;
}
.bingo-line {
  position: relative;
  background-color: rgb(3, 255, 213);
}
.bingo-line::after {
  position: absolute;
  content: "";
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  border-radius: 50%;
  background-color: brown;
}

.finScore {
  font-size: 35px;
}
.nextFigure {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 10vh;
}
.nextFigure-cube {
  flex-basis: 25%;
}
.nextFig__paint {
  border: solid 1px white;
  background-color: rgb(124, 171, 224);
}
.results {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border: solid 3px rgb(9, 144, 72);
  margin-top: 20px;
  opacity: 0;
}
.showResults {
  opacity: 1;
}
.results-list {
  height: 100px;
  overflow-y: auto;
  font-size: 25px;
}
.speed {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.btnUp,
.btnDown {
  width: 60px;
}
.speedValue {
  margin: 0;
}
